extends layout.pug

block title
  title Add a book to the databaseName

block content
  h1 Add a Book

  form( action="/add/book" method="post" )
    input(name="title")
    button(type="submit") Submit
